* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    text-align: center;
    padding: 200px;
    background-image: url("images/bgimg.jpg");
    background-size: cover;
}

.login h1{
    font-size: 50px;
    color: blue;
    padding-bottom: 20px;
}
.intext{
    border-radius: 5px;
    padding: 10px;
    border-color: blue;
    width: 300px;

}
.btn-style{
    background-color: darkturquoise;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;    

    border-color: blue;
    width: 120px;
}